# Ignore RProject files
*.Rproj.user
*.Rhistory
*.RData
*.dcf
.DS_Store

# CSV files
*.csv
*.txt

# PDFs
*.pdf

#Ignore all xlsx files
*.xlsx
*.xls

*.Rproj.user
*.rds
*.httr-oauth
.httr-oauth
.Rproj.user
