.shiny-progress .bar {
background-color: #FF0000;
.opacity = 0.8;
}
.shiny-progress .progress {
height:7px;
}

.shiny-busy .progress-message {
	font-size: 40px;
}

.shiny-progress-container {
  position: inherit;
  width: 100%;
  /* Make sure it draws above all Bootstrap components */
  z-index: 2000;
}

.progress-text {
  top: 50% !important;
  left: 50% !important;
  margin-top: -100px !important;
  margin-left: -250px !important;
  height: inherit;
  width: inherit;
	font-size: 40px;
	color: red;
}

.shiny-progress-container {
	color: blue;
}--!>